.whiteText {
  color: #fff;
}

.wob-container {
  padding: 3rem;
  padding-top: 4rem !important;
  height: 100vh;
  min-height: 400px;
}

.socialIcon a {
  margin: 0.5rem;
  color: #fff;
}
.socialIcon a:hover {
  color: #fff;
}

.contactEmail h5 {
  color: #fff;
}
.contactEmail h2 {
  color: #fff;
  font-size: 1.2rem;
}
.emailContainer {
  margin-top: 3rem;
}
h1 {
  font-size: 2rem;
}

@media (min-width: 576px) {
  .socialIcon a {
    margin: 1rem;
  }
  .contactEmail h2 {
    color: #fff;
    font-size: 1.2rem;
  }
  .contactEmail h5 {
    color: #fff;
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .contactEmail h5 {
    color: #fff;
    font-size: 1.2rem;
  }
  .contactEmail h2 {
    color: #fff;
    font-size: 2rem;
  }
  .socialIcon a {
    margin: 1.5rem;
  }
}
