/*
*/

/* White-on-Black Containers */
.whiteonblack {
  background: #000;
  margin: 0;
  padding: 0;
  width: 100%;
}

div.whiteonblack p {
  color: #fff;
}

.wobcontainer {
  padding: 5rem;
}
*/

/* Black-on-White Containers */
.blackonwhite {
  background: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
}

div.blackonwhite h1 {
  color: #000;
  font-size: 5px;
}

div.blackonwhite p {
  color: #000;
}

.bowcontainer {
  padding: 5rem;
}

:local(.socialIcon) a {
  margin: 1.5rem;
  color: #000;
}
:local(.socialIcon) a:hover {
  color: #000;
}

.header-bg {
  height: 100vh;
  min-height: 400px;
  background-size: cover;
  background-image: url('../backgroundDarkened.webp');
  background-repeat: no-repeat;
  background-position: center;
}
.container-fluid {
  overflow-x: hidden;
}
.centerText {
  display: none;
}
.main {
  position: relative;
  text-align: left;
  color: white;
}
.centerTextMobile {
  color: #fff;
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-fluid {
  overflow-x: hidden;
}
.nav-link {
  background: #fff;
  color: #000 !important;
  margin: 0;
  padding: 2rem !important;
  transition: background 0.15s ease-in-out;
}
.nav-link:hover {
  background: rgb(220, 220, 220);
}
.navbar-brand {
  padding: 0.3rem;
  margin: 0.3rem;
}
.navitem {
  padding: 0.5rem;
}

div.centerTextMobile div h1 {
  font-size: 2em;
}

div.blackonwhite h1 {
  color: #000;
  font-size: 1.8rem;
  letter-spacing: 3 !important;
}
div.whiteonblack h1 {
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 3 !important;
}

@media (min-width: 576px) {
  :local(.socialIcon) a {
    margin: 2rem;
    color: #000;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    overflow-x: hidden;
  }
  .centerTextMobile {
    display: none;
  }
  .centerText {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav-link {
    margin: 0;
    padding: 2rem !important;
    transition: background 0.15s ease-in-out;
    color: #fff !important;
  }
  nav {
    margin: 1.5rem;
    padding-top: 0;
    margin-top: 0;
  }
  nav a {
    margin: 2rem;
    padding: 10px;
    transition: background 0.15s ease-in-out;
    background: transparent !important;
    color: #fff !important;
  }
  nav a:hover {
    background: rgba(0, 0, 0, 0.03);
  }
  p {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  nav {
    margin: 1.5rem;
    padding-top: 0;
    margin-top: 0;
  }
  nav a {
    margin: 2rem;
    padding: 10px;
    color: #fff !important;
    transition: background 0.15s ease-in-out;
  }
  nav a:hover {
    background: rgba(0, 0, 0, 0.03);
  }
  div.blackonwhite h1 {
    color: #000;
    font-size: 2.2rem;
  }
  div.whiteonblack h1 {
    color: #fff;
    font-size: 2.2rem;
  }

  .table td {
    border: #bbbbbb solid 1px !important;
  }
  .table th {
    border: #bbbbbb solid 1px !important;
  }
}
